DATABASE_URL=mongodb://127.0.0.1/your-database-name
PAYLOAD_PUBLIC_SERVER_URL=YOUR_PAYLOAD_PUBLIC_SERVER_URL
PAYLOAD_SECRET=YOUR_SECRET_HERE
STRIPE_PUBLISHABLE_KEY=YOUR_KEY_HERE
STRIPE_SECRET_KEY=YOUR_SECRET_KEY_HERE
SMTP_HOST=mail.ton-serveur.com
SMTP_USER=contact@liceberg.fr
SMTP_PASS=ton_mot_de_passe


